/* Global-------------- */

/* Fixirani bottom na dnu stranice */
   #page-container {
      position: relative;
      min-height: 100vh;
   }
   
   #content-wrap {
      padding-bottom: 2.5rem;    /* Footer height */
   }
   
   #footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 2.5rem;            /* Footer height */
   }
/* /Fixirani bottom na dnu stranice */
 

/* Button za scroll Up na stranici */
   #toTopBtn {
      position: fixed;
      bottom: 97px;
      right: 39px;
      z-index: 398;
      padding: 21px;
      background-color: rgba(0, 0, 0, 0.336);
      border-radius: 30px;
   }

   .js .cd-top--fade-out {
      opacity: .5
   }

   .js .cd-top--is-visible {
      visibility: visible;
      opacity: 1
   }

   .js .cd-top {
      visibility: hidden;
      opacity: 0;
      transition: opacity .3s, visibility .3s, background-color .3s
   }

   .cd-top {
      position: fixed;
      bottom: 20px;
      bottom: var(--cd-back-to-top-margin);
      right: 20px;
      right: var(--cd-back-to-top-margin);
      display: inline-block;
      height: 40px;
      height: var(--cd-back-to-top-size);
      width: 40px;
      width: var(--cd-back-to-top-size);
      box-shadow: 0 0 10px rgba(0, 0, 0, .05) !important;
      background: url(https://res.cloudinary.com/dxfq3iotg/image/upload/v1571057658/cd-top-arrow.svg) no-repeat center 50%;
      background-color: hsla(5, 76%, 62%, .8);
      background-color: hsla(var(--cd-color-3-h), var(--cd-color-3-s), var(--cd-color-3-l), 0.8)
   }



/* /Button za scroll Up na stranici */



/* /Global-------------- */





/* ? Body */
body
{
    /* Slika pozadine  --------------------------*/
    background-image: url('/Templejti/static/img/site/bg-site2.jpg');

    background-position: center center;
    /* Background image doesn't tile */
    background-repeat: no-repeat;
    
    /* Background image is fixed in the viewport so that it doesn't move when 
       the content's height is greater than the image's height */
    background-attachment: fixed;
    
    /* This is what makes the background image rescale based
       on the container's size */
    background-size: cover;
    
    /* Set a background color that will be displayed
       while the background image is loading */
    background-color: #464646;

    /* End Slika pozadine  --------------------------*/
}







/* ? Navigacija */

.navbar-nav
{
   font-family: Verdana, Geneva, Tahoma, sans-serif
}


.active 
{
   border-bottom: 1.6px solid ;
}

/* Stavka iz menija */
.nav-link:hover
{ 
   background-color: rgba(122, 122, 122, 0.137);
   border-radius: 10px;

  
   
}


/* Izbor kategorija iz itemsa - shop */
.shop-menu 
{
   background-color: rgb(138, 135, 135);
   padding-left: 20px;
   width: 300px;
   height: auto;
   max-height: 300px;
   overflow-x: hidden;

 
   position: absolute; 
   margin-top: -10px; 
  
   
}

.shop-menu a
{
   color: rgb(255, 255, 255);
   
   
}




.pretrazi-polje
{
   background-color: rgb(173, 173, 173);
   font-family: inherit;
  
   border: 0;
   border-bottom: 2px solid gray;
   outline: 1px;
   color: rgb(61, 61, 61);
   display: block;
   background: transparent;
   width : 100%;
   
}


.noBorder
{
   border: none; 
   background-color: transparent;
}



.korpa-menu
{
   background-color: rgba(255, 255, 255, 0.89);
   box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.11);
   border: none;
   border-top: rgb(74, 165, 0) solid;
   border-radius: 0px;
   
   /* Scroll */

  
   height: auto;
   max-height: 300px;
   overflow-x: hidden;
}


.slajd-item
{

   height : 600px;
}

.info-artikal
{
   /* position: none; */
   position : absolute;
   background-color: rgba(0, 0, 0, 0.74);
   height:210px;
   margin-top: 390px;
   width: 100%;
   padding-top: 10px;
   color: white;
   
   overflow-x: hidden;
   overflow-y: visible;
   z-index: 200;
}


.footer
{
   position: relative;
   height: 40px;
   width:100%;
   margin-top: 10px;
   border-top: rgba(255, 255, 255, 0.534) 2px solid;
   padding-left: 30px;
   color: rgb(0, 0, 0);
   height: 100%;
}