/* ? Global -------------- */

/* Fixirani FOOTER na dnu stranice */
   #page-container {
      position: relative;
      min-height: 100vh;
   }
   
   #content-wrap {
      padding-bottom: 2.5rem;    /* Footer height */
   }
   
   #footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 2.5rem;            /* Footer height */
   }
/* /Fixirani FOOTER na dnu stranice */
 

/* Button za scroll Up na stranici */
   #toTopBtn {
      position: fixed;
      bottom: 97px;
      right: 39px;
      z-index: 398;
      padding: 21px;
      background-color: rgba(0, 0, 0, 0.336);
      border-radius: 30px;
   }

   .js .cd-top--fade-out {
      opacity: .5
   }

   .js .cd-top--is-visible {
      visibility: visible;
      opacity: 1
   }

   .js .cd-top {
      visibility: hidden;
      opacity: 0;
      transition: opacity .3s, visibility .3s, background-color .3s
   }

   .cd-top {
      position: fixed;
      bottom: 20px;
      bottom: var(--cd-back-to-top-margin);
      right: 20px;
      right: var(--cd-back-to-top-margin);
      display: inline-block;
      height: 40px;
      height: var(--cd-back-to-top-size);
      width: 40px;
      width: var(--cd-back-to-top-size);
      box-shadow: 0 0 10px rgba(0, 0, 0, .05) !important;
      background: url(https://res.cloudinary.com/dxfq3iotg/image/upload/v1571057658/cd-top-arrow.svg) no-repeat center 50%;
      background-color: rgba(255, 255, 255, 0.8);
      background-color: hsla(var(--cd-color-3-h), var(--cd-color-3-s), var(--cd-color-3-l), 0.8)
   }
/* /Button za scroll Up na stranici */



/*  Body */
body
{
    /* Slika pozadine  --------------------------*/
    background-image: url('/Templejti/static/img/site/bg-site.jpg');

    background-position: center center;
    /* Background image doesn't tile */
    background-repeat: no-repeat;
    
    /* Background image is fixed in the viewport so that it doesn't move when 
       the content's height is greater than the image's height */
    background-attachment: fixed;
    
    /* This is what makes the background image rescale based
       on the container's size */
    background-size: cover;
    
    /* Set a background color that will be displayed
       while the background image is loading */
    background-color: #464646;

    /* End Slika pozadine  --------------------------*/
}

/*  /Body */


/*  Navigacija */

/* Stil menija */
.navbar-nav
{
   font-family: Verdana, Geneva, Tahoma, sans-serif
}


/* Aktivna stavka */
.active 
{
   border-bottom: 1.6px solid ;
}




/* Stavka iz menija */
.nav-link:hover
{ 
   background-color: rgba(122, 122, 122, 0.137);
   border-radius: 10px;
}


/* Kategorija - shop meni */
.shop-menu 
{
   background-color: rgba(87, 87, 87, 0.788);
   
   padding-left: 10px;
   padding-right: 10px;
   width: 320px;
   height: auto;
   max-height: 300px;

   overflow: visible;
   overflow-x: hidden;

   position: absolute; 
   margin-top: -10px; 
   z-index: 400;
}

/* Link u Shop meniu */
.shop-menu a
{
   color: rgb(255, 255, 255);
}


/* Polje za pretraživanje artikla */
.pretrazi-polje
{
   background-color: rgb(173, 173, 173);
   font-family: inherit;
  
   border: 0;
   border-bottom: 2px solid gray;
   outline: 1px;
   color: rgb(61, 61, 61);
   display: block;
   background: transparent;
   width : 100%;
   
}


/* Meni korpe kupca */
.korpa-menu
{
   background-color: rgba(255, 255, 255, 0.89);
   box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.11);
   border: none;
   border-top: rgb(74, 165, 0) solid;
   border-radius: 0px;
   
   /* Scroll */

   height: auto;
   max-height: 300px;
   overflow-x: hidden;
}


/* Button bez ivica i boje */
.noBorder
{
   border: none; 
   background-color: transparent;
}


/* Podnožje */
.footer
{
   position: relative;
   height: 40px;
   width:100%;
   margin-top: 10px;
   border-top: rgba(255, 255, 255, 0.534) 2px solid;
   padding-left: 30px;
   color: rgb(0, 0, 0);
   height: 100%;
}

/* end ? Global -------------- */






/* ? index.html -------------- */

/* Artikal u slajderu sa artiklima */
.slajd-item
{
   height : 600px;
}

/* Informacije o svakom artiklu u slajderu sa artiklima */
.info-artikal
{
   /* position: none; */
   position : absolute;
   background-color: rgba(0, 0, 0, 0.74);
   height:210px;
   margin-top: 390px;
   width: 100%;
   padding-top: 10px;
   color: white;
   
   overflow-x: hidden;
   overflow-y: visible;
   z-index: 200;
}

/* end ? index.html -------------- */


/* ? o_nama.html -------------- */

/* Sadrzaj */
.oNama
{
   max-height: 720px;
   height : 7300px;
   
   border-radius: 20px;
   background-color: rgba(255, 255, 255, 0.367);
   padding : 30px;   
   
   overflow: auto;
   overflow-x: hidden;
   margin-bottom: 40px;
}

.oNama-kartica
{
  padding: 7px; 
  background-color: rgba(255, 255, 255, 0.299);
  box-shadow: 9px 10px 10px rgba(0, 0, 0, 0.115);
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 30px;

  overflow: visible;
  overflow-x: hidden;

  
  max-height: 260px;
}

.oNama-naslov
{
   background-color: rgb(142, 142, 142);
   color: white;
   
   text-align: center;
   
}

.oNama-sadrzaj
{
   padding-top: 10px;
   padding-right: 20px;
   padding-left: 20px;
   
  
}


/* end ? o_nama.html -------------- */




/* ? slika_proizvoda -------------- */


/* Slika porizvoda koji se dodaje ili menja */
.proizvod-slika
{
   display: flex;
   height: 500px;
   width: 100%;
   background-color: rgba(0, 0, 0, 0.11);
   /* border-radius: 20px; */
   /* box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.226); */

   /* border: rgb(73, 73, 73) 1px solid; */
}


/* Meni slike */
.slika-meni
{
   position: flex;

   /* border: 1px solid rgba(0, 38, 255, 0.904); */
   
   background-color: rgba(7, 7, 7, 0);
   width: 100%;
   margin-top: -85px;
   height:  50px;
 
   
}


/* end ? slika_proizvoda -------------- */


/* ? Stranica sa porudžbinama */


/* Izabrana stavka za određeni proizvod */
.profil-meni
{
 
   border-bottom: 1px solid black;
   
  
}

/* ? Stranica sa porudžbinama */


